html, body {
    width: 100%;
    height: 100%;
}

body {
    padding: 1em;
}

.flc-mapContainer {
    width: 95%;
    height: 95%;
}

.flc-mapPanel {
    width: 100%;
    height: 90%;
    border: 1px solid black;
}
